<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
<!--    联网权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk tools:overrideLibrary="com.mohamedrejeb.compose.dnd, top.kagg886.mkmb, top.kagg886.mkmb.android, com.dokar.sonner.core, app.lexilabs.basic.sound" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="SYLU-EOA"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".AppActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="eoa"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ImageProcessingActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:theme="@style/Theme.ShareSheet">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider"
                  android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>

        <!-- 今日课程小组件 -->
        <receiver
                android:name=".widget.TodayCourseWidgetReceiver"
                android:exported="true"
                android:label="@string/today_course_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/today_course_widget_info"/>
        </receiver>

        <meta-data
                android:name="android.max_aspect"
                android:value="2.4" />
    </application>

</manifest>
