<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>我们需要您的同意才能将图片保存到您的相册。</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>我们需要访问您的相册以供您选择照片进行编辑。</string>
	<key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
